.headHeader {
   
    overflow: auto;
  

    background-color: red;

}

.quickNav {
    padding: 20px;

}

h1 {
    width: 20%;
    background-color: rgba(7, 122, 117, 0.61);
    padding: 20px;
    color: orange;
    float: left;
    height: 100%;
    margin:20px;



}

nav {
    margin: 20px;
    float: right;
   
}



